/* General css file */


/*
                                fonts
*/
@font-face {
    font-family: "MyriadPro";
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: "Virdana";
    src: url(../fonts/verdana.ttf);
}

/*div{
    border: 1px black solid;
}*/


/*
                                body
*/
body {
    margin: 0px;
    font-family: Verdana;
    font-size: 10px;
    background-image: url('../img/body/bg.png');
}

/*
                                main
*/
#page-border{
    margin-top: 10px;
    width: 958px;
    border: solid #ffffff 1px;
}

#main{
    background-color: #e8e8e8;
    width: 956px;
    border: solid #dedede 1px;

}

/*
                                header
    -----------------------------------------------------------------
*/
#header{
    margin-left: 50px;
    background-repeat: no-repeat;
    background-image: url('../img/header/header-bg.png');
}

/*
                                header-left
*/
#header-left{
    float: left;
    width: 250px;
}

#logo{
    background-repeat: no-repeat;
}

.logo-text{
    font-family: "MyriadPro";
    color: #6f6f6f;
    text-shadow: #6f6f6f 0px 0px 1px;
}

/*
                                header-mid
*/
#slogan{
    height: 120px;
    text-align: center;
}

#slogan p{
    width: 280px;
    padding-top: 40px;
    padding-left: 65px;
    margin: 0px;
    font-family: "MyriadPro";
    font-size: 16px;
    color: #acacac;
    text-shadow: #acacac 0px 0px 1px;
    line-height: 14px;

}

#slogan big{
    color: #5bbb35;
    font-size: 18px;
}

/*
                                ELEMENTS
*/

/*  <Inputs>    */
.input-big{
    width: 160px;
    height: 28px;
    border: solid 1px #d9d9d9;
    font-size: 11px;
    color: #616161;
    font-style: italic;
    outline: none;
    margin-left: -2px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-big-silver{
    background-color: #f8f8f8;
}

/*  <Buttons>    */
.button-big{
    text-align: center;
    font-family: "Virdana";
    text-transform: capitalize;
    color: #6b6b6b;
    font-size: 12px;
    text-shadow: #ffffff 0px 1px 0px;
    width: 75px;
    height: 29px;
    border: solid 1px #d9d9d9;
    cursor: pointer;
    margin: 0px;
}

.button-big-yellow{
    background-image: url('../img/elements/button-big/button-big-yellow_inactive.png');
}

.button-big-yellow:hover{
    text-shadow: #8b8b8b 0px 0px 1px;
    background-image: url('../img/elements/button-big/button-big-yellow_active.png');
}

.button-big-silver{
    background-image: url('../img/elements/button-big/button-big-silver_inactive.png');
}

.button-big-silver:hover{
    text-shadow: #8b8b8b 0px 0px 1px;
    background-image: url('../img/elements/button-big/button-big-silver_active.png');
}

/*  <links>    */
.link{
    color: #5bbb35;
    font-family: "MyriadPro";
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: capitalize;
    text-shadow: #5bbb35 0px 0px 1px;
}


/*  <checkbox>   */
.checkbox{
    height: 12px;
    width: 12px;
    border: solid #dcdcdc 1px;
}

/*  <general line> */
.general-line{
    margin: 0px;
    background-image: url('../img/body/general-line.png');
    background-repeat: no-repeat;
    width: 850px;
    height: 1px;
}

/*
                                header-right
*/



/*
    -----------------------------------------------------------------
*/

/*
                                footer
    -----------------------------------------------------------------
*/

#footer{
    background-image: url('../img/footer/footer-bg.png');
    background-repeat: repeat-y;
    height: 35px;
}

#footer-menu{
    margin-left: 300px;
    float: left;
    padding-top: 10px;
}

.footer-menu-elements{
    padding-right: 20px;
    font-family: "MyriadPro";
    color: #777777;
    font-size: 12px;
    text-shadow: #969696 0px 0px 1px;
    cursor: pointer;
    text-decoration: none;
}

.footer-menu-elements big{
    color: #5bbb35;
    font-size: 12px;
}

#copyrights{
    margin-top: 5px;
    background-repeat: no-repeat;
    background-image: url('../img/footer/copyrights.png');
    width: 134px;
    height: 25px;
    float: right;
    margin-right: 120px;
    float: right;
}




/*
    -----------------------------------------------------------------
*/

/*
                                popup
    -----------------------------------------------------------------
*/

#fog{
    display: none;
    position: absolute;
    top: 0px;
    min-width: 962px;
    width: 100%;
    height: auto;
    background-color: #000000;
    opacity: 0.4;
}

#popup{
    display: none;
    position: absolute;
    width: 400px;
    background-color: #e8e8e8;
    border: 1px solid #ffffff;
}

#popup-title-container{
    width: 400px;
    height: 35px;
    background-color: #ffffff;
    position: relative;
    left: -30px;
    top: 50px;
    border: 1px solid #e5e2e2;
}

#popup-close{
    color: #b8b8b8;
    font-size: 11px;
    text-shadow: #ffffff 0px 0px 1px;
    cursor: pointer;
    float: left;
    padding: 10px;
    padding-left: 20px;
}

#popup-title{
    font-family: "MyriadPro";
    color: #616161;
    font-size: 18px;
    text-shadow: #ffffff 0px 0px 1px;
    float: right;
    padding: 6px;
    padding-right: 20px;
}

#popup-text-container{
    padding: 30px;
    padding-top: 50px;
    text-align: left;
    font-size: 11px;
    color: #777777;
    text-shadow: #ffffff 0px 0px 1px;
}

#popup-text-container p {
    padding: 5px;
}

/*
    -----------------------------------------------------------------
*/

