#header{
    height: 175px;
}


/*
                                header-left HOME
*/
#logo{
    text-align: left;
    position: relative;
    top: 20px;
    background-image: url('../img/header/logo-big.png');
    width: 240px;
    height: 137px;
}

.logo-text{
    font-size: 10px;
}

#logo-text-container{
    padding-top: 88px;
    padding-left: 47px;
}

.logo-text-second{
    margin-left: 13px;
}

/*
                                header-mid HOME
*/

#header-mid{
    width: 500px;
    float: left;
    /*border: 1px black solid;*/
}

#login{
    padding-left: 20px;
    padding: 0px;
    height: 50px;
    overflow: hidden;
}

input{
    padding: 0px;
    margin: 0px;
}

#forgot-password-container{
    padding-top: 1px;
    width: 180px;
    height: 30px;
    float: right;
}

/*
                                header-right HOME
*/
#language-selecting-container{
    height: 120px;
}

#language-selecting-container select{
    margin-top: 50px;
}

#header-right{
    float: left;
    width: 85px;
    text-align: right;
}

#register-button-container{
    height: 20px;
}

/*
                                slide-menu HOME
*/
#sliding-menu-screen{
    background-image: url('../img/home/sliding-menu-bg.png');
    width: 860px;
    height: 300px;
    border: 1px solid #e0e0e0;
    border-top: none;
    margin-bottom: 70px;
}

#sliding-menu-container{
    position: relative;
    top:10px;
    width: 840px;
    height: 280px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}

/*  <tips>   */


.tips{
    color: #868686;
    font-family: "MyriadPro";
    font-size: 12px;
    text-transform: lowercase;
    letter-spacing: -0.5px;
    text-shadow: #969696 0px 0px 1px;
}