#page-border{
    margin-top: 10px;
/*    margin-bottom: 10px;*/
}


#header{
    height: 140px;
}


/*
                                header-left User
*/
#logo{
    text-align: left;
    position: relative;
    top: 20px;
    background-image: url('../img/header/logo-small.png');
    width: 240px;
    height: 137px;
}

.logo-text{
    font-size: 8px;
}

#logo-text-container{
    padding-top: 65px;
    padding-left: 35px;
}

.logo-text-second{
    margin-left: 10px;
}

/*
                                header-mid USER
*/
#header-mid{
    width: 350px;
    float: left;
    /*border: 1px black solid;*/
}

#slogan p{
    padding-left: 40px;
}

#welcome{
    font-size: 14px;
    color: #5c5c5c;
}

#welcome big{
    font-weight: 550;
    font-size: 16px;
    color: #5bbb35;
}

#lastvisit{
    font-size: 9px;
    color: #c2c2c2;
}

#lastvisit big{
    font-size: 10px;
    color: #9c9b9b;
}

/*
                                header-right HOME
*/
#language-selecting-container{
    height: 80px;
}

#language-selecting-container select{
    margin-top: 50px;
}

#logout-button-container{
    height: 45px;
}

#header-right{
    float: left;
    width: 235px;
    text-align: right;
}

/*
                                content User
*/
#content{
    height: 450px;
}

/*<menu>*/
#menu{
    background-image: url('../img/content/menu/menu-bg.png');
    background-repeat: repeat-y;
    width: 177px;
    height: 450px;
    float: left;
    margin-left: 40px;
}

#credits-container{
    margin-top: 48px;
    text-align: left;
}

#credits-count{
    background-image: url('../img/content/menu/credits/credits-bg.png');
    width: 162px;
    height: 43px;
    position: relative;
    top: -60px;
}

#credits-count p{
    margin: 0;
    padding-top: 15px;
    font-size: 11px;
    
}

#menu .button-small{
    margin-left: 10px;
    width: 105px;
    font-size: 9px;
}

#menu .button-small-yellow{
    margin-top: 34px;
}


#menu ul{
    margin-top: 10px;
}

#menu li{
    cursor: pointer;
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    width: 166px;
    border-top: 1px #e8e8e8 solid;

}

#menu li:hover{
    color: #676767;
}

.menu-active{
    color: #ffffff;
    background-image: url('../img/content/menu/category-active.png');
    background-repeat: no-repeat;
}


/*<main container>*/
#main-content{
    background-color: #ffffff;
    float: left;
    height: 450px;
    width: 700px;
}

.block-shadow{
    float: left;
    background-image: url('../img/content/block-shadow.png');
    background-repeat: no-repeat;
    width: 7px;
    height: 450px;
}

#black-shadow-white{
    background-color: #ffffff;

}

#black-shadow-transparent{
    height: 414px;
    margin-top: 25px;
}

/*
                                ELEMENTS
----------------------------------------
*/

/*  <Inputs>    */
.input-small{
    width: 108.5px;
    height: 18px;
    border: solid 1px #d9d9d9;
    font-size: 10px;
    color: #a5a5a5;
    font-style: italic;
    outline: none;
    padding-top: 2px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
}

/*  <Buttons>    */
.button-small{
    text-align: center;
    font-family: "Virdana";
    text-transform: capitalize;
    color: #6b6b6b;
    font-size: 11px;
    text-shadow: #ffffff 0px 1px 0px;
    width: 60px;
    height: 23px;
    border: solid 1px #d9d9d9;
    cursor: pointer;
    background-image: url('../img/elements/button-big/button-big-silver_inactive.png');
    padding-bottom: 3px;
}

.button-small-yellow{
    background-image: url('../img/elements/button-big/button-big-yellow_inactive.png');
}

.button-small-yellow:hover{
    text-shadow: #8b8b8b 0px 0px 1px;
    background-image: url('../img/elements/button-big/button-big-yellow_active.png');
}

.button-small-red{
    background-image: url('../img/elements/patterns/pattern-red.png');
}

.button-small:hover{
    text-shadow: #8b8b8b 0px 0px 1px;
    background-image: url('../img/elements/button-big/button-big-silver_active.png');
}

/*  <tips>   */
.tips{
    color: #868686;
    font-size: 10px;
    text-transform: lowercase;
    letter-spacing: -0.5px;
    color: #d1d1d1;
}

/*
----------------------------------------
*/

/*
                            ROUNDED
----------------------------------------
*/

.rounded{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.rounded-bottom{
    -moz-border-radius-bottomright: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    -moz-border-radius-bottomleft: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

.rounded-top{
    -moz-border-radius-topright: 10px 10px;
    border-top-right-radius: 10px 10px;
    -moz-border-radius-topleft: 10px 10px;
    border-top-left-radius: 10px 10px;
}

.rounded-right{
    -moz-border-radius-topright: 10px 10px;
    border-top-right-radius: 10px 10px;
    -moz-border-radius-bottomright: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.rounded-left{
    -moz-border-radius-topleft: 10px 10px;
    border-top-left-radius: 10px 10px;
    -moz-border-radius-bottomleft: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}


/*
----------------------------------------
*/

/*
                                GROUPS
----------------------------------------
*/

#groups-cfg{
    float: left;
    padding: 20px;
    text-align: right;
    width: 420px;
}

/*<table>*/
.tables-info big{
    color: #6cae52;
    font-size: 14px;
}

.tables-info{
    font-size: 11px;
    color: #bebebe;
}

.tables-info thead td{
    background-color: #effce9;
    height: 28px;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    text-align: center;
    font-size: 14px;
    color: #585858;
}

.tables-info thead .left{
    border-left:1px solid #d9d9d9;
    padding-left: 5px;
    padding-right: 5px;
}

.tables-info thead .right{
    border-right:1px solid #d9d9d9;
    padding-left: 5px;
    padding-right: 5px;
}

.tables-info thead th{
    background-image: url('../img/elements/table/table-header-bg.png');
    height: 28px;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    text-shadow: #9B9B9B 1px 1px 1px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.arrow-sort{
    background-image: url('../img/elements/table/arrow-sort.png');
    width: 8px;
    height: 14px;
    margin-right: 5px;
    float: left;
    cursor: pointer;
}

.tables-info tbody td{
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
}

.tables-info tbody .left{
    border-left: 1px solid #f5f5f5;
}

.tables-info tbody .right{
    border-right: 1px solid #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.tables-info tfoot td{
    background-color: #effce9;
    height: 20px;
    border: 1px solid #d9d9d9;
    border-top: none;
    font-size: 12px;
    text-align: center;
    color: #585858;
    cursor: pointer;
}


#groups-menu{
    float: left;
    
}

#title-groups{
    background-image: url('../img/elements/patterns/pattern-green.png');
    height: 30px;
    width: 200px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
    border: 1px solid #D3D3D3;
    border-top:none;
    -moz-border-radius-bottomright: 20px 5px;
    border-bottom-right-radius: 20px 5px;
    -moz-border-radius-bottomleft: 20px 5px;
    border-bottom-left-radius: 20px 5px;
}

#groups-menu table{
    border: 1px #dadada solid;
    border-top: none;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #fafafa;
    width: 193px;
}

.groups-subategorys{
    text-align: right;
    padding-right: 10px;
    color: #989898;
    cursor: pointer;
}

.button-edit{
    background-image: url('../img/elements/submenu/button-edit-inactive.png');
    height: 11px;
    width: 11px;
    cursor: pointer;
}

.button-delete{
    background-image: url('../img/elements/submenu/button-delete-inactive.png');
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.line-submenu{
    background-image: url('../img/elements/submenu/line-submenu.png');
    width: 193px;
    height: 1px;
}

#button-create-group{
    background-image: url('../img/elements/patterns/pattern-green.png');
    height: 17px;
    width: 160px;
    border: 1px #d9d9d9 solid;
    border-top:none;
    color: #FFFFFF;
    font-size: 10px;
    padding-top: 3px;
    cursor: pointer;
}

#config-container{
    margin-top: 10px;
}

#config-container button{
    margin-left: -5px;
}
/*
----------------------------------------
*/

/*
                                SEND
----------------------------------------
*/

@font-face {
    font-family: "BrushScript";
    src: url(../fonts/BrushScript.otf);
}

.step{
    position: relative;
    color: #86d068;
    font-size: 14px;
    top: 25px;
    float: left;
    padding: 4px;
}

.step strong{
    font-family: "BrushScript";
    font-size: 40px;
    color: #6b6b6b;
}

#send-left{
    padding: 15px;
    padding-top: 30px;
    float: left;
}

#Send .tips{
    font-size: 9px;
}

#send-right{
    padding: 15px;
    padding-top: 30px;
    float: left;
}


#textarea-holder{
    background-color: #effce9;
    border: 1px solid #d9d9d9;
}

#symbol-count{
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

#textarea-holder textarea{
    margin: 10px;
    width: 234px;
    max-width: 234px;
    max-height: 110px;
    height: 110px;
    background-color: #FFFFFF;
    border: 1px solid #d9d9d9;
    outline: none;
    color: #BFBEBE;
    font-style: italic;
    font-size: 11px;
}

#step3{
    padding-top: 30px;
    text-align: left;
}

#sendinginfo{
    color: #B8B7B7;
    text-align: right;
    width: 200px;
    background-color: #EFFCE9;
    border: 1px solid #DFDFDF;
}

#sendinginfo span{
    padding-right: 5px;
}

.results{
    text-align: center;
    background-color: #FFFFFF;
    border-left: 1px solid #d9d9d9;
    width: 35px;
    color: #7E7E7E;
    height: 18px;
}

#button-send{
    position: relative;
    left: 105px;
    top: 40px;
    width: 120px;
    background-image: url('../img/elements/patterns/pattern-red.png');
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    padding-right: 15px;
    text-align: right;
    border: 1px solid #D3D3D3;
    border-right: none;
    cursor: pointer;
}

/*
----------------------------------------
*/

